.bgac-dust {
	background-color: #edeae6 !important;
	color: black !important;
}
.bgac-gold {
	background-color: #c5a173 !important;
	color: white !important;
}
.btn.bgac-gold:hover {
	background-color: #9c8261 !important;
}
.bgac-black {
	background-color: #181c16 !important;
	color: white !important;
}
.bgac-red {
	background-color: #cf0015 !important;
	color: white !important
}
.text-dust {
	color: #edeae6 !important;
}
.text-gold {
	color: #c5a173 !important;
}
.text-gold-hover:hover {
	color: #9c8261 !important;
}
.text-black {
	color: #181c16 !important;
}
.text-red {
	color: #cf0015 !important;
}
.border-gold {
	border: 1px solid #c5a173 !important;
}
.border-gray {
	border: 1px solid #ccc !important;
}